.product {
    padding: 20px 0;
}
.product-title {
    font-size: 22px;
    margin-bottom: 15px;
}
.product-description {
    font-size: 18px;
    margin-bottom: 15px;
}
.product-features {
    font-size: 17px;
    margin-bottom: 10px;
}
.product-price {
    font-size: 25px;
    text-align: center;
}
.btns-wrap {
    display: flex;
    justify-content: center;
}
